---
import Base from '../layouts/Base.astro'
import Hero from '../components/Hero.astro'
import Contact from '../components/Contact.astro'
import Section from '../components/Section.astro'
import Accordion from '../components/Accordion.astro'
import AccordionItem from '../components/AccordionItem.astro'
import { Image } from 'astro:assets'
import heroImage from '../assets/images/hero-valpar.jpg'
import dog1 from '../assets/images/vesta.jpeg'
import dog2 from '../assets/images/helix.jpeg'
import { Gallery } from '../components/Gallery'

const week1: ImageMetadata[] = await Astro.glob(
    '../assets/images/valpar/vecka_1/*',
).then((files) => {
    return files.map((file) => file.default)
})

const week2: ImageMetadata[] = await Astro.glob(
    '../assets/images/valpar/vecka_2/*',
).then((files) => {
    return files.map((file) => file.default)
})

const week3: ImageMetadata[] = await Astro.glob(
    '../assets/images/valpar/vecka_3/*',
).then((files) => {
    return files.map((file) => file.default)
})

const week4: ImageMetadata[] = await Astro.glob(
    '../assets/images/valpar/vecka_4/*',
).then((files) => {
    return files.map((file) => file.default)
})

const week5: ImageMetadata[] = await Astro.glob(
    '../assets/images/valpar/vecka_5/*',
).then((files) => {
    return files.map((file) => file.default)
})

const week6: ImageMetadata[] = await Astro.glob(
    '../assets/images/valpar/vecka_6/*',
).then((files) => {
    return files.map((file) => file.default)
})

// const week7: ImageMetadata[] = await Astro.glob(
//     '../assets/images/valpar/vecka_7/*',
// ).then((files) => {
//     return files.map((file) => file.default)
// })
//
// const week8: ImageMetadata[] = await Astro.glob(
//     '../assets/images/valpar/vecka_8/*',
// ).then((files) => {
//     return files.map((file) => file.default)
// })
//
// const week9: ImageMetadata[] = await Astro.glob(
//     '../assets/images/valpar/vecka_9/*',
// ).then((files) => {
//     return files.map((file) => file.default)
// })
//
const weeks = [week1, week2, week3, week4, week5, week6] || []
---

<Base
    title="Antikens kennel | Valpar"
    description="När du köper en wheaten valp från mig på Antikens kennel så är den uppfödd i hemmamiljö där valpen har blivit socialiserad och blivit van att hanteras."
>
    <Hero
        title="Valpar"
        image={heroImage}
        alt="Dog sitting and looking at you playfully"
    >
        <p class="pt-6 text-lg">
            Helix och Vestas valpar har nu kommit, 3 hanar och 4 tikar. Om det
            finns intresse för en valp från denna kull är ni välkomna att ringa
            eller maila mig.
        </p>
    </Hero>
    <Section>
        <h2 class="section-title-sm mb-4">Valpbilder</h2>
        <Gallery client:load weeks={weeks} current={weeks.length - 1} />
    </Section>
    <Section>
        <h2 class="section-title-sm mb-4">Vesta & Helix</h2>
        <p class="text-lg max-w-2xl mb-4">
            <strong>Antikens Valkyria "Vesta"</strong> är en mycket trevlig tik.
            Snäll och tillgiven, oftast med på det mesta. Vacker silkig päls. Hon
            är röntgad HD A, BPH testad med skott. DNA PLN N/N
        </p>
        <p class="text-lg max-w-2xl mb-4">
            <strong>Softy Österlen I'm Keen on Kaspian "Helix"</strong> är en ståtlig
            och maskulin herre med hjärtat på rätta stället. Amerikansk päls. Snäll
            och trygg med härlig framåtanda. Han är röntgad HD A, BPH testad med
            skott.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
            <Image
                class="rounded-md shadow-lg aspect-[16/12] object-cover"
                src={dog1}
                alt="Female dog called Paxi standing at a dog contest"
            />
            <Image
                class="rounded-md shadow-lg aspect-[16/12] object-cover"
                src={dog2}
                alt="Female dog called Paxi standing at a dog contest"
            />
        </div>
    </Section>
    <Section>
        <h2 class="section-title-sm">Allt om valpköp</h2>

        <p class="py-6 text-lg max-w-2xl">
            När du köper en wheaten valp från mig på Antikens kennel så är den
            uppfödd i hemmamiljö där valpen har blivit socialiserad och blivit
            van att hanteras. När de har har blivit äldre och är ett par veckor
            gamla vistas valparna ute i vår trädgård om vädret tillåter. När
            valpen flyttar från oss och hem till er är de som tidigast åtta
            veckor gammal, då ingår:
        </p>

        <Accordion>
            <AccordionItem title="Stamtavla-registrering SSK">
                <p>
                    Valpen registreras i Svenska Kennelklubben och man får ett
                    ägarbevis.
                </p>
            </AccordionItem>
            <AccordionItem title="Köpesavtal SKK">
                <p>
                    Köpeavtal innebär äganderätt till hunden övergår från
                    uppfödare till valpköpare
                </p>
            </AccordionItem>
            <AccordionItem
                title="Veterinärbesiktning, vaccinering och chipmärkning"
            >
                <p>
                    Veterinärbesiktningsprotokoll får inte vara äldre än 7 dagar
                    och utförs då valpen är ca 7 veckor, samtidigt märker man
                    valpen med ett microchip i nacken samt vaccinerar mot
                    valpsjuka och Parvo
                </p>
            </AccordionItem>
            <AccordionItem title="Avmaskning">
                <p>
                    Valparna avmaskas mot spolmask och hakmask med Banminth vid
                    2,4 och 6 veckors ålder
                </p>
            </AccordionItem>
            <AccordionItem title="Försäkring dolda fel, 3 år">
                <p>
                    Valparna är försäkrade i Sveland mot dolda fel i 3 år. Ett
                    dolt fel är en sjukdom eller ett fel som funnits eller
                    börjat utvecklas före leverans till köparen men som inte
                    upptäckts vid veterinärbesiktningen. Exempel på ett dolt fel
                    kan vara medfödd dövhet eller missbildning på ett intre
                    organ
                </p>
            </AccordionItem>
            <AccordionItem title="Valpkompendie ">
                <p>
                    Kompendie med skötselråd såsom pälsvård, kloklippning etc.
                    När skall jag vaccinera? hur mycket mat ska valpen ha?
                </p>
            </AccordionItem>
            <AccordionItem title="En klippning före ett års ålder">
                <p>En klippning av pälsen före ett års ålder ingår i priset</p>
            </AccordionItem>
            <AccordionItem title="1 års medlemsskap i SWTK">
                <p>
                    I vår rasklubb Svenska Wheaten Terrier klubben SWTK ordnas
                    många trevliga aktiviteter i de olika regionern även
                    klippkurser, promenader och föreläsningar. Medlemstidning
                    fyra gånger om året. Det ingår ett års medlemskap i
                    valpköpet.
                </p>
            </AccordionItem>
        </Accordion>
    </Section>
    <Section>
        <Contact />
    </Section>
</Base>
