<div>
    <h4 class="font-semibold text-3xl md:text-4xl mb-6">
        Har du några frågor? Kontakta mig
    </h4>
    <div class="card w-full sm:w-96 bg-base-100 shadow-xl">
        <div class="card-body flex-col md:flex-row items-center">
            <div>
                <div class="avatar mr-4">
                    <div class="w-24 rounded-full">
                        <img
                            src="https://res.cloudinary.com/motherload/image/upload/v1638384382/ak/prod/medium_kristina_jimvid_c5d9c0c9f8.png"
                        />
                    </div>
                </div>
            </div>
            <div>
                <h2 class="card-title">Kristina Jimvid</h2>
                <p class="flex items-center gap-2">
                    <i class="ph ph-phone text-primary"></i>
                    <span> 070-22 999 17 </span>
                </p>
                <p class="flex items-center gap-2">
                    <i class="ph ph-envelope text-primary"></i>
                    kristia.jimvid@telia.com
                </p>
            </div>
        </div>
    </div>
</div>
