---

---

<header>
    <nav class="md:hidden">
        <div class="navbar bg-base-100 border-b border-black">
            <div class="navbar-start">
                <a class="btn h-8 w-12 btn-ghost px-0 py-0 mr-3" href="/">
                    <img
                        src="/logotype.svg"
                        alt="Antikens Kennel"
                        class="h-8 w-auto"
                    />
                </a>
            </div>
            <div class="navbar-end">
                <div class="dropdown">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-ghost btn-circle"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            ><path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h7"></path></svg
                        >
                    </div>
                    <ul
                        tabindex="0"
                        class="menu md:pt-1 right-[-8px] menu-md w-screen dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box"
                    >
                        <li><a href="/valpar">Valpar</a></li>
                        <li><a href="/om-rasen">Om rasen</a></li>
                        <li><a href="/galleriet">Galleriet</a></li>
                        <li><a href="/nyheter">Nyheter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="hidden md:flex navbar bg-base-100 max-w-[1080px] m-auto">
        <div class="navbar">
            <a class="btn h-8 w-12 btn-ghost px-0 py-0 mr-3" href="/">
                <img
                    src="/logotype.svg"
                    alt="Antikens Kennel"
                    class="h-8 w-auto"
                />
            </a>
            <ul class="menu menu-horizontal px-1 text-lg">
                <li><a href="/valpar">Valpar</a></li>
                <li><a href="/om-rasen">Om rasen</a></li>
                <li><a href="/galleriet">Galleriet</a></li>
                <li><a href="/nyheter">Nyheter</a></li>
            </ul>
        </div>
    </nav>
</header>
