---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="antic">
    <head>
        <BaseHead title={title} description={description} />
        <script
            defer
            src="https://analytics.jimvid-homelab.app/script.js"
            data-website-id="f04e2968-bb77-45c7-aec1-832f3a59868d"></script>
    </head>
    <Header />
    <main>
        <slot />
    </main>
    <Footer />

</html>
