---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import Base from '../layouts/Base.astro'
import Section from '../components/Section.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate } = Astro.props
---

<Base title={title} description={description}>
    <Section>
        <article class="min-h-[calc(100vh-232px-92px-10rem)]">
            <div>
                <div class="text-sm opacity-60 font-semibold">
                    <FormattedDate date={pubDate} />
                </div>
                <h1 class="section-title mb-4">{title}</h1>
                <div class="max-w-2xl">
                    <slot />
                </div>
            </div>
        </article>
    </Section>
</Base>
